

h1{
    color: white;
    font-family:initial;
}
body{
    font: 18px arial, sans-serif;
    background:white;
    background-image: url(./images/giphy.gif);
    background-size: cover;
    text-align: center;
    background-position: center;
    background-attachment: fixed;
    
}
#gif-buttons{
    position:absolute;
    align-content: space-around;
    float:left;
    padding-top: 150px;
    
}

#gif-form{
    float:left;
    color:white;
    font-family: 'Shadows Into Light', cursive;
    background-position: left;
    width:500px; 
    height:100px; 
    position: absolute;
    top: 20%; 
    left: 42%; 
    margin-top: -100px; 
    margin-left: -100px; 
    clear: both;
    
    

}

#gifs {
    width: 70%;
    margin: 0px 10px 10px 0px;
    
}

.gif-item {
    float: left;
    padding:10px;
    padding-top: 180px;
}
form{
    float: right;
    width: 30%;
    padding: 20px;
}
label{
    display: block;
    font-weight: 700;
    margin-bottom: 10px;
}

input[type="text"]{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    font-size: 18px;
}

button,
input[type="Submit"]{
    padding: 5px 20px;
    margin: 0 10px 10px 0;
    font-size: 18px;
    color:#fff;
    cursor: pointer;
    background: purple;
    border: 0;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #bbb;
}

button:hover,
input[type="submit"]:hover{
    background: lightslategray;
}
button.active{
    background: blueviolet;
}